:root {
	--mainColor: #29335c;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
  background-color: var(--mainColor);
	color: var(--textColor);
}

.header{
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header-nav{
  display: flex;
  align-items: center;
}

.header-profile-links{
  display: flex;
}

.header-nav.responsive_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-nav.responsive_nav > *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header-nav.responsive_nav > *:last-of-type{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}


@media only screen and (max-width: 1024px) {
	.header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	.header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

  .header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }

	.header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
